* {
  margin: 0;;
}

.home-container {
  padding: 1em;
  margin: 0;
  /* background-image: url('./home.jpg');
  background-position:right; */
}

.home-content {
  text-align: center;
  color:azure;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.icon-container {
  display: inline;

  padding-top: .2em;
  padding-bottom: .2em;

  text-align: center;
  font-size: 3em;
}