.video-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  
  text-align: center;

  width: 100%;
}

.video-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  position: relative;
}

.video-container__iframe {
  flex-grow: 1;
}

.video-container_description {
  color: black;
  font-size: 1.5em;
  white-space: nowrap;
  display: flex;

  flex-direction: row;
  justify-content: center;
  padding-top: .2em;
}

.video-container-positions {
  color: #c4c4c4;
  font-size: 1.3em;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .video-container_description {
    font-size: 1.25em;
  }

  .video-container-positions {
    font-size: 1em;
  }
}