.video-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  
  text-align: center;

  width: 100%;

  color: #eee;
}

.video-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  position: relative;
  font-size: 2em;
}

.video-container__iframe {
  flex-grow: 1;
}
