.image-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

  color: #eee;
}

.image-subcontainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  position: relative;
  width: 640px;
  height: 360px;
}

.image-subcontainer__image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.image-subcontainer__description {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  background-color: rgba(30, 30, 30, .85);
  text-align: center;

}

.image-subcontainer-overlay {
  height: 100%;
  width: 100%;
}

.image-subcontainer > .image-subcontainer__description {
  visibility: hidden;
}

/* On hover, make the child visible */
.image-subcontainer:hover > .image-subcontainer__description {
  visibility: visible;
}