.image-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  
  text-align: center;

  width: 100%;
}

.image-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  position: relative;
}

.image-container__image {
  flex-grow: 1;
  cursor: pointer;
}

.image-container__description {
  color: black;
  font-size: 1.55em;
  white-space: nowrap;

}

.image-container-positions {
  color: #c4c4c4;
  font-size: .8em;
  font-weight: 660;
  white-space: nowrap;
}
