.image-container {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  
  text-align: center;

  width: 100%;
}

.image-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  position: relative;
}

.image-container__image {
  flex-grow: 1;
  cursor: pointer;
}

.image-container__description {
  color: black;
  font-size: 1.5em;
  white-space: nowrap;
  display: flex;

  flex-direction: row;
  justify-content: center;
  padding-top: .2em;
}

.year-container {
  padding-left: .3em;
  font-style: italic;
}

.image-container-positions {
  color: #c4c4c4;
  font-size: 1.3em;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .image-container__description {
    font-size: 1.25em;
  }

  .image-container-positions {
    font-size: 1em;
  }
}

